*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Build output
dist

# Package manager
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
